/* Color palette */
$black: rgb(0, 0, 0);
$almost-black: rgb(25, 25, 25);
$dark-grey:rgb(70, 70, 70);
$mid-grey: rgb(153, 153, 153);
$light-grey: rgb(222, 222, 222);
$very-light-grey: rgb(238, 238, 238);
$dark-cream: rgb(224, 215, 203);
$mid-cream: rgb(238, 233, 227);
$cream: rgb(250, 248, 245);
$white: rgb(255, 255, 255);
